
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'urlshortner/style.css' %}">
</head>
<body class="container">
    <h1>URL SHORTNER</h1>
    <form method="POST">
        {%csrf_token%}
        <input type="url" name="long_url" placeholder="enter your url here" required>
        <button type="submit">SHORTEN </button>
    </form>

    {% if short_url %}
    <p>YOUR SHORT URL:
        <a href="/{{ short_url}}" target="_blank" >
            {{ request.get_host }}/{{ short_url}}
        </a>
    </p>
    {% endif %}
</body>
</html>